- if user_signed_in?
  = link_to('Logout', destroy_user_session_path, :method => :delete)
- else
  = link_to('Login', new_user_session_path)

- if notice.present?
  .ui.yellow.message
    %i.close.icon
    %p= notice
- if alert.present?
  .ui.orange.message
    %i.close.icon
    %p= alert

%div(ng-app='app' ng-controller='CoreController as core')
  .ui.red.message(ng-if='core.message' ng-cloak)
    %i.close.icon
    %p(ng-bind='core.message')
  %div(ng-view)
