%input(ng-model='query' type='text' placeholder='Search')

%h3 {{cheatsheet.title}}
%form(name='newItemForm')
  .input-group
    %input(type='text'
           ng-model='name'
           name='name'
           placeholder="Name"
           required)
    %input(type='text'
           ng-model='description'
           name='description'
           placeholder="Description"
           required)
    %span.input-group-btn
      %button.btn.btn-primary(ng-click='addItem()') Add
%ul(ng-repeat="item in cheatsheet.items")
  %li
    %div(ng-hide='options.editorEnabled')
      %span(ng-bind='item.name')
      %span(ng-bind='item.description')
      %button(ng-click='enableEditor()' id='edit-item-link') Edit
      %button(ng-click='deleteItem()' id='delete-item-link') Delete
    %ng-form(name="editItem" ng-show='options.editorEnabled')
      %input.form-control(type='text' name='title' ng-model='item.name' required)
      %input.form-control(type='text' name='description' ng-model='item.description' required)
      %button.btn.btn-link.btn-xs(ng-click='editItem()') Save
      %button.btn.btn-link.btn-xs(ng-click='disableEditor()') Close