%h3.ui.dividing.header Your Cheatsheets

.ui.form
  .two.fields
    .field.ui.icon.input
      %input(placeholder='Search...' ng-model='query')
        %i.search.icon
    .field.ui.action.input(ng-form='newCheatSheetForm')
      %input(ng-model='title' placeholder='Add a new cheatsheet?' required)
        %button.ui.button(ng-click='addCheatSheet()' ng-disabled='newCheatSheetForm.$invalid') Add

.ui.very.relaxed.selection.list
  .item(ng-repeat="cheatsheet in filtered = (cheatsheets | orderBy: 'title' | filter:query)")
    .right.floated.compact.ui.basic.button Delete
    %a(ng-href='#/show/{{cheatsheet.id}}')
      .content
        .header(ng-bind='cheatsheet.title')
        .description
          %ng-pluralize(count='cheatsheet.items.length' when="{'0': 'no items', 'one': '1 item', 'other': '{} items'}")
    %table.ui.basic.table(ng-if='filtered.length === 1')
      %tr(ng-repeat='item in filtered[0].items | filter:query | limitTo:10')
        %td(ng-bind='item.name')
        %td(ng-bind='item.description')
