%h3.ui.dividing.header
  %span(ng-bind='cheatsheet.title')
  %a(ng-href='#/edit/{{cheatsheet.id}}')
    %i.tiny.purple.write.icon

.ui.icon.input
  %input(placeholder='Search...' ng-model='query')
  %i.search.icon

.ui.hidden.divider
%table.ui.unstackable.striped.table
  %thead
    %tr
      %th Name
      %th Description
  %tbody
    %tr(ng-repeat='item in cheatsheet.items | filter:query')
      %td(ng-bind='item.name')
      %td(ng-bind='item.description')
